@font-face {
    font-family: "Midstar";
    src: url("./assets/fontfile/Midstar_Personal_Use.otf");
}



/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f5f7fa;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar */

.nav-bar{
    width: 100%;
    height: 75px;
    background: #ffffff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    box-shadow: 0 2px 10px rgba(0,0,0,0.08);
}

/* Logo */

.nav-bar h1{
    font-family: "Midstar", sans-serif;
    font-size: 2.8rem;
    font-weight: bold;
    color: #98e0a8;
    cursor: pointer;
}


.nav-bar h1 span{
    color: #00b4d8;
    font-size: 3.8rem;
}
/* Navigation Links */

.links{
    display: flex;
    gap: 35px;
}

.links a{
    text-decoration: none;
    color: #444;
    font-size: 18px;
    font-weight: 600;

    transition: all .3s ease;
}

.links a:hover{
    color: #1e88e5;
}

/* Active Link */

.links a.active{
    color: #c05656;
}

/* Responsive */

@media(max-width:768px){

    .nav-bar{
        padding: 0 25px;
    }

    .nav-bar h1{
        font-size: 1.5rem;
    }

    .links{
        gap: 20px;
    }

    .links a{
        font-size: 16px;
    }

}




/* ===========================
   HOME PAGE
=========================== */

.home {
    width: 100%;
    min-height: calc(100vh - 75px);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
}

.home h1{
    font-size: 3rem;
    color:#333;
}

.home p{
    margin-top:15px;
    font-size:20px;
    color:#666;
}


/* ===========================
   WEATHER PAGE
=========================== */

.weather-container{
    width:100%;
    min-height:calc(100vh - 75px);

    display:flex;
    justify-content:center;
    align-items:center;
}

.weather-card{

    width:450px;
    background:white;

    border-radius:18px;

    padding:30px;

    box-shadow:0 10px 30px rgba(0,0,0,.12);

    text-align:center;
}

.weather-card h2{
    color:#333;
    margin-bottom:25px;
}

.search-box{

    display:flex;
    justify-content:center;
    gap:12px;
}

.search-box input{

    width:250px;
    padding:12px;

    border:none;

    outline:none;

    border-radius:8px;

    background:#f1f5f9;

    font-size:16px;
}

.search-box button{

    padding:12px 20px;

    border:none;

    background:#00b4d8;

    color:white;

    border-radius:8px;

    cursor:pointer;

    transition:.3s;
}

.search-box button:hover{

    background:#008fb3;
}

.weather-result{

    margin-top:35px;
}

.weather-result img{

    width:120px;
}

.weather-result h1{

    font-size:55px;

    color:#333;
}

.weather-result h3{

    margin-top:8px;

    color:#666;
}

.weather-info{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:18px;

    margin-top:30px;
}

.info-box{

    background:#f7f9fc;

    padding:15px;

    border-radius:10px;
}

.info-box p{

    color:#666;

    font-size:15px;
}

.info-box h4{

    margin-top:8px;

    color:#111;
}
.logo{
    text-decoration: none;
}

.logo h1{
    margin: 0;
}

/* Error Component */
.error{
    margin-top:20px;
    padding:12px;
    background:#ffe6e6;
    color:#d90429;
    border-radius:8px;
    font-weight:bold;
}

.loader{
    margin-top:20px;
    padding:12px;
    background:#ffe6e6;
    color:#04b9d9;
    border-radius:8px;
    font-weight:bold;
}