.nav-bar{
    height: 55px;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-bar a{
    text-decoration:  none;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
}

.nav-bar a:hover{
    background-color: aquamarine;
}